# Verified Accounts

We're proud to offer verified accounts to help fortify trust in the community that messages are going to the person or organization they intend. Verified accounts are available for users including:

- 🕵️ Journalists
- 📰 Newsrooms
- ✊ Activists
- 📸 Public Figures
- 📊 Businesses 

<img src="../img/verified-account.png">

## Safeguards

To help guard against abuse, our verification system is built so that if a verified user changes their username or display name, they'll lose their verified status and need to initiate the process again. This feature is intended to eliminate the risk of a user with a verified account changing their information to impersonate another person or organization.

<img src="../img/settings.verified.png">