---
id: account-verification
title: Account Verification
sidebar_position: 8
---

## Step 1. Add a Display Name

In **Settings > Profile**, update your Display Name for authenticity. (Changing it later will remove verified status.)

![Settings](https://github.com/scidsg/hushline-screenshots/blob/main/releases/latest/artvandelay/auth-artvandelay-settings-profile-desktop-light-fold.png?raw=true)

## Step 2. Include Additional URLs

Add your LinkedIn, website, or other professional profiles in your bio’s extra fields for multi-channel verification.

![Extra URL fields](https://github.com/scidsg/hushline-screenshots/blob/main/releases/latest/artvandelay/auth-artvandelay-settings-profile-desktop-light-window-02.png?raw=true)

## Step 3. Contact Us

When ready, contact us to begin verification. Businesses should have authorized officers available.

[Verify Your Account](https://tips.hushline.app/to/admin)

![Message verification](https://github.com/scidsg/hushline-screenshots/blob/main/releases/latest/guest/guest-profile-admin-desktop-light-fold.png?raw=true)
