---
id: account-verification
title: Account Verification
sidebar_position: 8
---

## Step 1. Add a Display Name

In **Settings > Profile**, update your Display Name for authenticity. (Changing it later will remove verified status.)

![Settings](/img/screenshots/artvandelay/auth-artvandelay-settings-profile-desktop-light-fold.png)

## Step 2. Include Additional URLs

Add your LinkedIn, website, or other professional profiles in your bio’s extra fields for multi-channel verification.

![Extra URL fields](/img/screenshots/artvandelay/auth-artvandelay-settings-profile-desktop-light-window-02.png)

## Step 3. Contact Us

When ready, contact us to begin verification. Businesses should have authorized officers available.

[Verify Your Account](https://tips.hushline.app/to/admin)

![Message verification](/img/screenshots/guest/guest-profile-admin-desktop-light-fold.png)
