---
id: account-verification
title: Account Verification
sidebar_position: 5
---

## Step 1. Add a Display Name

In **Settings > Profile**, update your Display Name for authenticity. (Changing it later will remove verified status.)

![Display name field](https://hushline.app/assets/img/docs/display-name.webp)

## Step 2. Include Additional URLs

Add your LinkedIn, website, or other professional profiles in your bio’s extra fields for multi-channel verification.

![Extra URL fields](https://hushline.app/assets/img/docs/verifiy-url.webp)

## Step 3. Contact Us

When ready, contact us to begin verification. Businesses should have authorized officers available.

[Verify Your Account](https://tips.hushline.app/to/hushline-verification)

![Message verification](https://hushline.app/assets/img/docs/message-verify.webp)
